/* Google Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&display=swap");

body {
  margin: 0;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(207, 155, 132);
  color: rgb(0, 0, 0);
}

h1 {
  font-family: Alata, sans-serif;
  /* font-family: -apple-system, "Helvetica Neue", sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-family: Alata, sans-serif;
  color: rgb(56, 51, 46);
}

/* INDIVIDUAL COMPONENT STYLING */

.center-text {
  text-align: center;
}

.body-text {
  max-width: 70%;
  color: rgb(56, 51, 46);
  font-size: 1.3rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 15px;
  color: rgb(56, 51, 46);
  font-family: Alata, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateX(-28px);
}

#main-title-1 {
  font-size: 6em;
  line-height: 100px;
  margin-bottom: 0px;
}

#main-title-2 {
  font-size: 3em;
  margin-bottom: 2rem;
}

/* Individual sections */
.home-section {
  display: flex;
}

.card-all {
  background-color: rgb(214, 206, 202);
}

.content-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 1.2em;
  width: 75vw;
  max-width: 60rem;
  margin-left: 1rem;
  text-align: center;
  transform: translateX(-28px);
}

.to-top {
  margin-right: 45px;
  font-weight: 200;
}

/* FLEXING */

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(20% - 28px);
}

.flex-top {
  display: flex;
  flex-direction: column-reverse;
}

.flex-left {
  display: flex;
  justify-content: left;
  /* margin-left: 10px; */
}

.flex-right {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 45px;
}

.btn-clear {
  border: none;
  background: transparent;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btm-cntr {
  display: none;
  justify-content: column-reverse;
  flex-direction: "co;lumn";
  justify-content: "flex-end";
  align-items: "center";
  padding-right: "6vw";
}

.scroll {
  display: "inline";
  padding: "5px";
}

.postcard {
  width: 60vw;
}

.image-scale {
  width: 60vw;
  max-width: 720px;
}

.fp-tableCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* IMAGE TOGGLE CLASSES */

.active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 100;
  transition: opacity 0.3s;
}

.inactive {
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.flex-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-arrows {
  width: 50px;
  color: rgb(56, 51, 46);
  /* opacity: 30%; */
}

#top-arrow:hover {
  opacity: 80%;
  transition: opacity 0.5s;
}
#bottom-arrow:hover {
  opacity: 80%;
  transition: opacity 0.5s;
}

#top-arrow {
  opacity: 30%;
  margin-left: auto;
  padding: 25px;
  transform: translateX(-28px);
}

#bottom-arrow {
  opacity: 30%;
  transform: rotate(180deg) translateX(28px);
  margin: auto;
  padding: 25px;
}

@media screen and (max-width: 850px) {
  #fp-nav {
    
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 1.5vw
  }

  #main-title-1 {
    line-height: normal;
  }

  .subtitle {
    font-size: 1.3rem;
    width: 75vw;
    margin-left: 1rem;
  }

  .postcard {
    width: 70vw;
  }

  .image-scale {
    width: 70vw;
  }

  .body-text {
    font-size: 1em;
  }

  .fp-tableCell {
    display: flex;
    align-items: center;
  }

  #top-arrow {
    transform: translateX(0);
  }

  #bottom-arrow {
    transform: rotate(180deg) translateX(0);
  }

  .to-top {
    margin-right: auto;
    margin-left: auto;
    transform: translateX(20%);
  }
}

@keyframes bounce {
  from {
    transform: rotate(180deg) translateX(50%) translateY(-10%);
  }

  to {
    transform: rotate(180deg) translateX(50%) translateY(20%);
  }
}

/*Animation Station*/

#down-arrows {
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  rotate: 50;
  margin-top: 10rem;}

/* I sincerely apologize for the following code.
I hate it so much. I ran out of time and I had
to get something working. It is repetitive
and not very performant (though the transition
being on the opacity and not on the filter property
is a performance boost). What I would do with
more time is actually solve the propblem
programatically. Figure out a callback on the
fullbage move section down */

#grayscale0 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale1 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale2 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale3 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale4 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale5 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale6 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale7 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale8 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale9 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale10 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale11 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale12 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
  transition: opacity 0.5s;
}
#grayscale13 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
}
#grayscale14 {
  position: absolute;
  z-index: 2;
  filter: grayscale();
  opacity: 100%;
}
.fp-viewing-1 #grayscale0 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}

.fp-viewing-2 #grayscale1 {
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}
.fp-viewing-3 #grayscale2 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}

.fp-viewing-4 #grayscale3 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-5 #grayscale4 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}

.fp-viewing-6 #grayscale5 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-7 #grayscale6 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}

.fp-viewing-8 #grayscale7 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-9 #grayscale8 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-10 #grayscale9 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-11 #grayscale10 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-12 #grayscale11 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-13 #grayscale12 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.fp-viewing-14 #grayscale13 {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
