body {
  margin: 0;
  font-family: -apple-system, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 246, 220);
  color: rgb(0, 0, 0);
}

h1 {
font-family: -apple-system, "Helvetica Neue", sans-serif;
}

h4 {
  font-family: -apple-system, Lora, Karla-Regular, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-family: -apple-system, Lora, Karla-Regular, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}


/* INDIVIDUAL COMPONENT STYLING */
.title {
display: flex;
}

.main-title {
  display: flex;
  justify-content: left;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  font-size: 150px;
  color: #DC2C21;
  line-height: 130px;
}

/* Individual sections */
.home-section {
  background-color: #E6DFD0;
  display: flex;
  /* justify-content: left; */
}

.section1 {
  background-color: rgb(255, 246, 220);
  /* background-image: url("https://www.publicdomainpictures.net/pictures/310000/velka/damask-vintage-background-wallpaper-1566400309WS6.jpg") ; */
}

.section0 {
  background-color:#DEF8EC;
}

.paper-bg {

}


.content-style {
  display: flex;
  flex-direction: column;
}

/* FLEXING */

.flex-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.flex-top {
  display: flex;
  flex-direction: column-reverse;
}

.flex-left {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  }

.btn-clear {
  border: none;
  background: transparent;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.image-scale {
width: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 15px;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btm-cntr {
  display: none;
  justify-content: column-reverse;
  flex-direction: "co;lumn";
  justify-content: "flex-end";
  align-items: "center";;
  padding-right: "6vw";
}

.scroll {
   display: "inline";
   padding: "5px";
}


/* #welcome {
  padding-left: 5em;
} */

/* .btm-cntr {
  position: absolute;
  bottom: 0;
  padding-left: 39vw;
} */

#down-arrows {
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  rotate: 50;
}

@keyframes bounce {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(-10%);
  }
}
